.product-add:hover {
    color: forestgreen;
    font-weight: 500;
    font-size: 30px;
}

.product-add {
    font-weight: 500;
    font-size: 30px;
}

.add-service-image {
    border-radius: 25px;
    border: 0.5px solid lightgray;
}