ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  color: #757575;
}

.submenu {
  display: none;
  position: absolute;
}

.parent-li {
  position: relative;
  margin: 2.5% 0;
  cursor: pointer;
  color: #757575;
}

.parent-li:hover {
  text-decoration: underline;
  text-decoration-color: #757575;
  color: #757575;
}

.parent-li:hover .submenu {
  display: flex;
  background-color: white;
  z-index: 1000;
  flex-wrap: wrap;
  flex-direction: column;
  width: 30vw;
  height: 40vh;
  border: 0.5px solid #d8d8d8;
}

.subitem {
  font-size: 1.1rem;
  color: #757575;
  cursor: pointer;
}

.subitem:hover {
  text-decoration: none;
  color: #757575;
}
