.navbar {
  background-color: white;
  border: 0px;
  height: 10vh;
}

.logo {
  color: black;
  font-size: 1.4rem;
  font-weight: bolder;
}

.logo:hover {
  text-decoration: none;
  color: black;
}

.link {
  color: black;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.link:not(:last-child) {
  margin-right: 2.5vw;
}

.link:hover {
  color: #1cbe88;
  text-decoration: none;
  cursor: pointer;
}

.register-link {
  height: 5vh;
  line-height: 5vh;
  text-align: center;
  width: 4vw;
  color: white;
  background-color: #1cbe88;
  border: 1px solid #1cbe88;
  transition: all 0.3s ease;
  border-radius: 2px;
}

.register-link:hover {
  text-decoration: none;
  color: #1cbe88;
  background-color: white;
  border: 1px solid #1cbe88;
  border-radius: 2px;
}

.profile-image {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}

.header-submenu {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 0;
  top: 40px;
  height: 25vh;
  width: 15vw;
  z-index: 9999;
  background-color: white;
  justify-content: space-around;
  border: 1px solid #c9c9c9;
  border-radius: 2px;
}

.header-submenu-item {
  color: black;
  transition: all 0.2s ease;
  padding-left: 10%;
}

.header-submenu-item:hover {
  text-decoration: none;
  color: #1cbe88;
}

.divider {
  height: 0.5px;
  width: 85%;
  margin: 0 auto;
  background-color: #c9c9c9;
}
