.parent-wrapper {
  width: 100%;
  margin-top: 2.5%;
  display: flex;
  justify-content: space-between;
}

.profile-container {
  height: 75vh;
  width: 25vw;
  border: 1px solid #bababa;
  border-radius: 1px;
  text-align: center;
}

.profile-container-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 75vh;
  width: 25vw;
  border: 1px solid #bababa;
  border-radius: 1px;
}

.current-user-image {
  margin-top: 15%;
  border-radius: 50%;
}

.current-user-username {
  margin-top: 5%;
  font-weight: bold;
}

.gigs-container {
  height: 75vh;
  width: 55vw;
  border: 1px solid #bababa;
  border-radius: 1px;
}

.gigs-header {
  height: 10vh;
  width: 100%;
  border: 0px;
  border-bottom: 0.5px solid #bababa;
  line-height: 10vh;
}

.gigs-header p {
  margin-left: 5%;
}
