/* category page */
.hero {
  display: flex;
  width: 100%;
  height: 100vh;
}

.subcategory-container {
  width: 17.5vw;
}

.services-container {
  width: 82.5vw;
}

.inner-service-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.subcategory-list {
  margin: 0;
}

.category-main-title {
  font-size: 1.25rem;
}

.category-main-description {
  font-size: 1rem;
  color: #7a7a7a;
}

.subcategory-name {
  font-size: 1.1rem;
  color: #adadad;
  margin-bottom: 2%;
}

.subcategory-name:hover {
  color: #adadad;
}

.center-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  width: 100%;
}

/* service component */
.service-container {
  height: 40vh;
  width: 20vw;
  border: 1px solid #bababa;
  margin-bottom: 5%;
  border-radius: 3px
}

.service-image {
  height: 30vh;
  width: 100%;
}

.service-name {
  margin: 0;
}

.service-description {
  margin: 0;
}

.service-price {
  margin: 0;
}
